html, body{
    margin: 0;
    padding: 0;
}

header{
    height: 150px;
    background-color: black;
}

button.vklad{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    border-bottom: 2px solid white;
}

h1{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 25px;
    font-family: "Lobster", sans-serif;
    color: white;
}

h2{
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}

p{
    text-indent: 30px;
    text-align: justify;
    margin: 0;
}

.all{
    background-image: url(bottle.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.buttons{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titl{
    width: 99%;
    height: 40px;
    font-size: 60px;
    color: white;
    font-family: "Great Vibes", cursive;
    display: flex;
    justify-content: flex-end;
}

.without_zag{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.without_img{
    width: 50%;
}

.with_img{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imag{
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.503);
    width: 450px;
    height: 600px;
    border-radius: 20px;
}

.history_text{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text1{
    font-size: 19px;
    width: 95%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid black;
    font-family: "Nunito", sans-serif;
}

.text2{
    font-family: "Caveat", cursive;
    font-size: 25px;
    background-color: white;
    width: 75%;
    border-radius: 20px;
    padding: 30px;
    border: 2px dashed black;
    text-align: justify;
}

.nauka{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.501);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.499);
}

.nauka_text{
    font-size: 19px;
    font-family: "Nunito", sans-serif;
    width: 80%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

ul.ull{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.ull li{
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    font-family: "Nunito", sans-serif;
}

.use{
    margin: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.501);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.499);
}

.use_text{
    display: flex;
    width: 90%;
    justify-content: space-between;;
}

.ttt{
    width: 90%;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: bold
}

.l_without_img{
    width: 45%;   
}

.l_with_img{
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.part1{
    display: flex;
    flex-direction: column;
    height: 820px;
    justify-content: space-between;
    align-items: center;
}

.part2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 410px;
    justify-content: space-between;
    align-items: center;
}

.imag2{
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.503);
    width: 550px;
    border-radius: 20px;
}

.imag3{
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.503);
    width: 550px;
    border-radius: 20px;
}

.d_without_img{
    width: 50%;
}

.d_with_img{
    width: 45%;
}

.imag4{
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.503);
    width: 550px;
    height: 365px;
    border-radius: 20px;
    margin-top: 30px;
}

.dobicha_text{
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    width: 80%;
    margin: 30px;
}

.text3{
    font-size: 19px;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid black;
    font-family: "Nunito", sans-serif;
    margin: auto;
}

ul.ulll{
    list-style: none;
    padding-left: 0;
}

ul.ulll li{
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
}

ul.ulll li::before{
    margin-right: 10px;
}

.temp::before{
    content: "🌡️";
}

.time::before{
    content: "🕥";
}

.kapla::before{
    content: "💧";
}

.pereriv::before{
    content: "⌛";
}

.season::before{
    content: "📅";
}

.stakan::before{
    content: "🥛";
}

.imag5{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.503);
    padding: 25px;
    border-radius: 20px;
}

.upot_text1{
    font-size: 19px;
    font-family: "Nunito", sans-serif;
    margin-top: 30px;
}

.upot_text2{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.ivan{
    font-size: 19px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.voda{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.imag1{
    width: 30%;
    display: flex;
    align-items: center;
}

.elements{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px 10px;
    font-family: "Nunito", sans-serif;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zag{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.facts{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
}

.nahuya{
    padding: 25px;
}

.test{
    width: 50%;
    margin: auto;
    padding: 100px;
}

.welcome{
    font-size: 25px;
    width: 95%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid black;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

button.ne_hochu{
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    text-decoration: underline;
}

.quiz{
    margin-top: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.question{
    font-size: 20px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

button.answer{
    margin: 10px 0;
    padding: 20px 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    width: 100%;
    text-align: left;
    border-left: 5px solid black;
    cursor: pointer;
}

.final{
    margin-top: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    display: none;
}

.final_zag{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

.final_desc{
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-top: 20px;
}

.sostav{
    width: 100%;
    display: none;
}

.history{
    width: 100%;
    display: none;
}

.legends{
    width: 100%;
    display: none;
}

.dobicha{
    width: 100%;
    display: none;
}

.upotreblenie{
    width: 100%;
    display: none;
}

.lupa{
    width: 60px;
    height: 120px;
    margin-left: 40px;
}

.kamen{
    width: 450px;
    border-radius: 20px;
}

.chingiz{
    width: 550px;
    border-radius: 20px;
}


@media (max-width: 1000px){
    button.vklad{
        font-size: 14px;
        border-bottom: 1px solid white;
        margin: 8px;
    }

    .titl{
        height: 60px;
        font-size: 23px;
        justify-content: center;
        align-items: flex-end;
    }

    .buttons{
        height: 90px;
        flex-wrap: wrap;
    }

    .test{
        width: 80%;
        margin: auto;
        padding: 20px;
    }

    .welcome{
        font-size: 15px;
        padding: 10px;
        border: 2px solid black;
    }

    button.ne_hochu{
        font-size: 15px;
    }

    .quiz{
        margin-top: 30px;
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .question{
        font-size: 13px;
    }

    button.answer{
        margin: 8px 0;
        padding: 15px 10px;
        font-size: 12px;
    }

    .final{
        margin-top: 30px;
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .final_zag{
        font-size: 17px;
    }

    .final_desc{
        font-size: 13px;
        margin-top: 10px;
    }

    h1{
        font-size: 25px;
        padding: 13px;
    }

    .voda{
        width: 95%;
        flex-direction: column;
        margin: auto;
    }

    .imag1{
        width: 100%;
        order: -1;
    }

    .elements{
        width: 95%;
        padding: auto;
        height: 500px;
        margin-top: 20px;
    }

    .zag{
        font-size: 14px;
    }

    p.desc{
        font-size: 13px;
    }

    .facts{
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin: auto;
        padding: 20px;
        margin-top: 30px;
    }

    .lupa{
        width: 30px;
        height: 60px;
        margin-left: 0;
    }

    ul.ull li{
        padding: 10px;
        margin-bottom: 5px;
        border-left: 3px solid black; 
        width: 80%;
        font-size: 12px;
    }

    .without_zag{
        flex-direction: column;
    }

    .without_img{
        width: 90%;
        margin: auto;
    }

    .history_text{
        height: 550px;
    }

    .text1{
        font-size: 13px;
        padding: 10px;
        border: 2px solid black;
    }

    .text2{
        font-size: 17px;
        width: 95%;
        padding: 15px;
        border: 1px dashed black;
    }

    h2{
        font-size: 20px;
        text-align: center;
    }

    p{
        text-indent: 15px;
    }

    .nauka{
        margin: 15px;
    }

    .nauka_text{
        font-size: 13px;
    }

    .with_img{
        width: 100%;
    }

    .imag{
        padding: 15px;
        width: 90%;
        height: auto;
    }

    .kamen{
        width: 100%;
    }

    .use{
        margin: 15px;
    }

    .ttt{
        font-size: 13px;
    }

    .l_without_img{
        width: 100%;   
    }

    .l_with_img{
        width: 100%;
    }

    .part1{
        width: 90%;
        height: 670px;
        margin: auto;
    }

    .part2{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 350px;
    }

    .chingiz{
        width: 100%;
    }

    .imag2{
        padding: 15px;
        width: 90%;
    }

    .imag3{
        padding: 15px;
        width: 90%;
        margin-top: 20px;
    }

    .d_without_img{
        width: 100%;
    }

    .d_with_img{
        width: 100%;
    }

    .dobicha_text{
        font-size: 13px;
        margin: 20px;
    }

    .imag4{
        padding: 15px;
        width: 90%;
        height: auto;
        margin: 15px 0;
    }

    .text3{
        font-size: 13px;
        width: 90%;
        padding: 10px;
        border: 2px solid black;
    }

    .imag5{
        width: 90%;
        padding: 15px;
    }

    .upot_text1{
        font-size: 13px;
        margin-top: 20px;
    }

    .upot_text2{
        width: 85%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin-top: 20px;
    }

    .ivan{
        font-size: 14px;
    }

    ul.ulll li{
        padding: 10px;
        margin-bottom: 5px;
        font-size: 13px;
    }
}
